.test{
    /* background-color: aquamarine; */
    width: 100%;
    border: black;
    border-width: 1px;
    border-style: dashed;
    height: 250px;
    
}

.stops {
    overflow-y: scroll;
    height: 200px;
}

.filler{
    background-color: #c3deff;
    width: 500px;
    margin: 5px;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
#search-results {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    height: 150px;
    list-style: none;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#mapDiv {
    position: relative;
    padding: 0px;
}

body {
    background-image: url("./grunge.jpg")
}

#stopOption1Name {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#stopOption1Address {
    font-size: 10px;
    padding: 0;
    margin: 0;

}

#stopOption1Website {
    font-size: 10px;
    padding: 0;
    margin: 0;

}

/* #addStopBtn {
    float: left;
    width: 200px;
    height: 75px;
} */
/* .table {
    display: table
} */
.addStopBtn {
    display: block;
    float: left;
    /* width: 200px; */
    height: 75px;
}

.slider{
    margin-top: 25px;
}

.itemLink{
    float: left;
}