.test{
    background-color: aquamarine;
    width: 100%;
    border: black;
    border-width: 1px;
    border-style: dashed;
    height: 250px;
    
}

.stops {
    overflow-y: scroll;
    height: 200px;
}

.filler{
    background-color: blueviolet;
    width: 500px;
    margin: 5px;
    border: black;
    border-width: 1px;
    border-style: dashed;
}
#search-results {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    height: 100px;
    list-style: none;
}

#map {
    width: 100%;
    height: 100%;
    margin: 10px;
}